<h1>Sign In</h1>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control">
          <span
            *ngIf="!signInForm.get('userData.username').valid && signInForm.get('userData.username').touched"
            class="form-text text-muted">
              <span *ngIf="signInForm.get('userData.username').errors['required']">This field is required!</span>
            </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control">
        </div>
        <span
          *ngIf="!signInForm.get('userData.password').valid && signInForm.get('userData.password').touched"
          class="form-text text-muted">
              <span *ngIf="signInForm.get('userData.password').errors['required']">This field is required!</span>
            </span>
      </div>
      <hr>
      <button [disabled]="signInForm.invalid" class="btn btn-primary" type="submit">Submit</button>
      <div
        style="margin-top: 1em"
        *ngIf="authenticationFailed"
        class="alert alert-danger" role="alert">
        Authentication failed! Try again.
      </div>
      <div
        style="margin-top: 1em"
        *ngIf="authenticationSuccess"
        class="alert alert-success" role="alert">
        Authentication success!
      </div>
    </form>
  </div>
</div>
