<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">ChatLord</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"
            *ngIf="isAuthenticated"
            routerLinkActive="active">
          <a class="nav-link" routerLink="chat">Chat</a>
        </li>
        <li class="nav-item"
            *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="authenticate">Login | Sign Up</a>
        </li>
        <li class="nav-item"
            *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="" (click)="onLogOut()">Logout <strong>{{authService.UserChanged.getValue().username}}</strong></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
