<h1>Sign Up</h1>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="signInUsername">Username</label>
          <input
            type="text"
            id="signInUsername"
            formControlName="username"
            class="form-control">
          <span
            *ngIf="!signInForm.get('userData.username').valid && signInForm.get('userData.username').touched"
            class="form-text text-muted">
              <span *ngIf="signInForm.get('userData.username').errors['required']">This field is required!</span>
            </span>
        </div>
        <div class="form-group">
          <label for="signInEmail">Email</label>
          <input
            type="text"
            id="signInEmail"
            formControlName="email"
            class="form-control">
          <span
            *ngIf="!signInForm.get('userData.email').valid && signInForm.get('userData.email').touched"
            class="form-text text-muted">
              <span *ngIf="signInForm.get('userData.email').errors['required']">This field is required!</span>
              <span
                *ngIf="signInForm.get('userData.email').errors['email']">This field is not valid e-mail address</span>
            </span>
        </div>
        <div class="form-group">
          <label for="signInPassword">Password</label>
          <input
            type="password"
            id="signInPassword"
            formControlName="password"
            class="form-control">
        </div>
        <span
          *ngIf="!signInForm.get('userData.password').valid && signInForm.get('userData.password').touched"
          class="form-text text-muted">
              <span *ngIf="signInForm.get('userData.password').errors['required']">This field is required!</span>
            </span>
        <div class="form-group">
          <label for="signInRepeatPassword">Repeat password</label>
          <input
            type="password"
            id="signInRepeatPassword"
            formControlName="repeatPassword"
            class="form-control">
        </div>
        <span
          *ngIf="!signInForm.get('userData.repeatPassword').valid && signInForm.get('userData.repeatPassword').touched"
          class="form-text text-muted">
              <span *ngIf="signInForm.get('userData.repeatPassword').errors['required']">This field is required!</span>
            </span>
        <span
          *ngIf="!signInForm.get('userData').valid && signInForm.get('userData.repeatPassword').touched"
          class="form-text text-muted">
              <span
                *ngIf="!!signInForm.get('userData').errors && signInForm.get('userData').errors.hasOwnProperty('notSamePasswords')">Incorrect repeated password</span>
            </span>
      </div>
      <hr>
      <button [disabled]="signInForm.invalid" class="btn btn-primary" type="submit">Submit</button>
      <div
        style="margin-top: 1em"
        *ngIf="registrationFailed"
        class="alert alert-danger" role="alert">
        Registration failed! {{ registrationFailedReason.message }} | Code: {{ registrationFailedReason.statusCode }}
      </div>
      <div
        style="margin-top: 1em"
        *ngIf="registrationSuccess"
        class="alert alert-success" role="alert">
        Registration success!
      </div>
    </form>
  </div>
</div>
