<div class="container">
  <div class="row">
    <div class="col-xs-12 col-6">
      <app-sign-in></app-sign-in>
    </div>
    <div class="col-xs-12 col-6">
      <app-sign-up></app-sign-up>
    </div>
  </div>
</div>

