<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4>Groups</h4>
              </div>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar" placeholder="Add new group"
                         (keyup.enter)="addMeToGroup($event.target.value); $event.target.value = ''"/>
                </div>
              </div>
            </div>
            <div class="inbox_chat">
              <div #groupDiv *ngFor="let group of groups"
                   [ngClass]="{'active-chat': selectedGroupAsValue === group}"
                   (click)="onGroupSelected(group)"
                   class="chat-list">
                <div class="chat-people row">
                  <div class="chat-body col-8">
                    <h5>{{ group }}</h5>
                  </div>
                  <div class="col-3">
                    <input *ngIf="!subscribedGroups.includes(group)" value="Join" class="btn btn-success" type="button"
                           (click)="onGroupSubscription(group)">
                    <input *ngIf="subscribedGroups.includes(group)" value="Leave" class="btn btn-danger" type="button"
                           (click)="onGroupUnsubscription(group)">
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="mesgs">
            <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="msg_history">
              <div *ngFor="let message of messages">
                <div *ngIf="message.user !== authService.UserChanged.getValue().username" class="incoming_msg">
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ message.body }}</p>
                      <span class="time_date">{{ message.user }} | {{ message.date | date: 'short'}}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="message.user === authService.UserChanged.getValue().username" class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ message.body }}</p>
                    <span class="time_date">{{ message.user }} | {{ message.date | date: 'short'}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedGroupAsValue !== null" class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" placeholder="Type a message and press enter"
                       (keyup.enter)="sendMessage($event.target.value); $event.target.value = ''"/>
              </div>
            </div>
            <div *ngIf="selectedGroupAsValue === null" class="type_msg">
              <div class="m-3 text-center"><p>Remember to pick a room you want to talk in - it should be highlighted in <span style="color: #88CC88">green</span></p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6"></div>
    </div>
  </div>
</div>
